/* html { 
    background: url(../images/image.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
} */
body {
    background-image:url('../images/fishTank.gif');
    background-size:100%;
    background-repeat: repeat-y;
    background-attachment: fixed;
    height:100%;
    width:100%;
}
.table {
    display:table;
    width:100%;
    margin-top: 20px;
}
.tr {
    display:table-row;
}
.d1 {
    background-color:rgba(255, 255, 255, 0.6);
    display:table-cell;
    width:250px;
    padding: 10px;
}
.nav{
    display:table-cell;
    text-align:center;
    word-spacing: 60px;
}
.nav a{
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 30px;
    background-color:rgba(255, 255, 255, 0.5);
    color: black;
}
.d3 {
    padding: 10px;
    padding-right: 40px;
    display:table-cell;
    text-align:right;
    width: 200px;
    word-spacing: 15px;
}
